<!-- 'layout/main_layout.html' 레이아웃을 여기로 불러와라 라는 뜻 -->
{% extends 'layout/main_layout.html' %}

<!-- main_layout.html의 block에 넣을 내용들만 정의 -->
{% block title %}설문 목록{% endblock title %}
{% block contents %}
<h1>설문 목록</h1>
<ul>
    <!-- 반복문 - 
        question_list(context_value:QuerySet)의 Question들을 출력 -->
    {% for question in question_list %}
        <li>
            <!-- <a href="/polls/vote_form/{{question.pk}}"> -->
            <a href="{% url 'polls:vote_form' question.pk %}">

                {{question.pk}}. {{question.question_text}}  
                - 글자수: {{question.question_text | length}}
                - {{question.pub_date | date:'Y-m-d'}}   <!-- template 문법 필터 중 date 사용 -->
            </a>
        </li>
    {% empty %}
        {# 처음부터 question_list가 비어있으면 #}
        <b>아직 등록된 질문이 없습니다.</b>
    {% endfor %}
</ul>
{% endblock contents %}